body{
font-family:"Segoe UI",sans-serif;
background:#e8f6f3;
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-container{
background:white;
padding:40px;
width:330px;
border-radius:14px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
text-align:center;
}

.login-container h1{
margin-bottom:5px;
font-size:24px;
color:#2c4a52;
}

.subtitle{
font-size:13px;
color:#6b8c93;
margin-bottom:25px;
}

input{
width:100%;
padding:12px;
margin-bottom:18px;
border:1px solid #cfe7e2;
border-radius:7px;
font-size:14px;
outline:none;
}

input:focus{
border-color:#7fd1c6;
}

button{
width:100%;
padding:12px;
background:#6da9e4;
border:none;
color:white;
font-size:15px;
border-radius:7px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#6b8c93;
}

